# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.DesertedIsland.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Unity\DesertedIsland\.idea\.idea.DesertedIsland\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
